/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap";

//= require_tree .
//= require_self

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.box-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.box {
  height: 7%;
  width: 20%;
  margin: 8px;
}




//begin categories style
.categories {
  width: 25%;
  float: left;
  padding: 15px;
}

.categories h2{
  text-align: center;
}
.categories ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link{
  color: white;
}

.link-header{
  color: black !important;
  text-decoration: none;
}
.header a:hover{
  color: black;
}

.categories a:visited{
  text-decoration: none;
}

.categories a:hover{
  text-decoration: none;
  color: white;
}

.categories li {
  padding: 8px;
  margin-bottom: 7px;
  background-color:#33b5e5;
  color: #BBBBBB;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.categories li:hover {
  background-color: #0099cc;
}

//begin search style

.search{
  width: 50%;
  float: left;
  margin: 0 auto;
  padding-top: 17%;

  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


//begin restaurants style
.restaurants {
  width: 25%;
  float: left;
  padding: 15px;

}

.restaurants h2{
  text-align: center;
}
.list{
  overflow-y:scroll;
  height: 40em;
}

.restaurants a:visited{
  text-decoration: none;
}

.restaurants a:hover{
  text-decoration: none;
  color: white;
}

.restaurants ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.restaurants li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #BBBBBB;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.restaurants li:hover {
  background-color: #0099cc;
}

.espacoLateral {
  padding-left: 15px;
}

.tamanhoForm{
  width: 30em;
}

.float_center{
  text-align: center;
}

.tamanhBotao{
  width: 5em;
}
.espacoTopo{
  padding-top: 5px;
}

.tamanhoCard{
  height: 12em;
}

.paddingLateral{
  padding-left: 12px;
}